[Desktop Entry]
Type=Application
Name=Files
Exec=nautilus %U
DBusActivatable=true
Actions=new-window;
Categories=System;FileManager;

[Desktop Action new-window]
Name=New Window
Exec=nautilus --new-window
